<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link href="~/Content/css/layout.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>

<body>
    <div class="main">
        <div class="sidebar"> 
            <ul class="">
                <li class="nav-item nav-info">
                    <div class="nav-item--info d-flex m-3">
                        <img class="avatar" src="https://colorlib.com/polygon/gentelella/images/img.jpg" />
                        <div class="infor_login">
                            <h3 class="h6">Welcome</h3>
                            <p class="name">@((Session["user"] as ManagerTour.Models.User_information).Name)</p>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="sidebar_item d-flex align-items-center m-3">
                        <i class="fa-solid fa-house flex-shrink-0"></i>
                        <a class="nav-link" href="/Home/Index">Home</a>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="sidebar_item d-flex align-items-center m-3">
                        <i class="fa-regular fa-newspaper flex-shrink-0"></i>
                        <a class="nav-link" href="/Post/Index">Posts</a>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="sidebar_item d-flex align-items-center m-3">
                        <i class="fa-solid fa-users flex-shrink-0"></i>
                        <a class="nav-link" href="/User/Index">Users</a>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="sidebar_item d-flex align-items-center m-3">
                        <i class="fa-solid fa-earth-americas  flex-shrink-0"></i>
                        <a class="nav-link" href="/Tour/Index">Tours</a>
                    </div>
                </li>

                <li class="nav-item">
                    <input type="checkbox" hidden id="cb_forms"/>

                    <label for="cb_forms" class="sidebar_item-drop_travel sidebar_item d-flex align-items-center m-3">
                        <i class="fa-solid fa-pen-to-square flex-shrink-0"></i>
                        <a class="nav-link flex-shrink-0">Travels</a>
                        <i class="fa-solid fa-angle-down"></i>
                    </label>

                    <ul class="forms_subsidebar">
                        <li class="nav-item">
                            <div class="sidebar_item d-flex align-items-center m-3">
                                <span class="flex-shrink-0 sidebar_item-left"></span>
                                <a class="nav-link" href="/AddressTravel/Index">Address Travel</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="sidebar_item d-flex align-items-center m-3">
                                <span class="flex-shrink-0 sidebar_item-left"></span>
                                <a class="nav-link" href="/TypeTravel/Index">Type Travel</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="sidebar_item d-flex align-items-center m-3">
                                <span class="flex-shrink-0 sidebar_item-left"></span>
                                <a class="nav-link" href="/Vehicle/Index">Vehicle Travel</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="main-left">
            <div class="header">
                <div class="p-3 d-flex justify-content-between">
                    <i class="fa-solid fa-bars sidebar_menu"></i>

                    <div class="header-infor d-flex align-items-center">
                        <i class="fa-regular fa-envelope notify-mail position-relative">
                            <p class="d-flex align-items-center justify-content-center position-absolute amount-notify">5</p>
                        </i>

                        <input type="checkbox" hidden id="cbdropheader" />

                        <label for="cbdropheader" class="header-info_name d-flex align-items-center">
                            <img src="https://colorlib.com/polygon/gentelella/images/img.jpg" />
                            <p>@((Session["user"] as ManagerTour.Models.User_information).Name)</p>
                            <i class="fa-solid fa-angle-down"></i>
                        </label>

                        <div class="card header_personally position-absolute">
                            <ul class="navbar d-flex flex-column">
                                <li class="nav-item d-flex align-items-center">
                                    <i class="fa-solid fa-address-card flex-shrink-0"></i>
                                    <a class="nav-link">Profile</a>
                                </li>

                                <li class="nav-item d-flex align-items-center">
                                    <i class="fa-solid fa-lock flex-shrink-0"></i>
                                    <a class="nav-link">Change Password</a>
                                </li>

                                <li class="nav-item d-flex align-items-center">
                                    <i class="fa-solid fa-right-from-bracket flex-shrink-0"></i>
                                    <a class="nav-link">Log out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
