
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/Auth.cshtml";
}


<div class="container" id="container">
    <div class="form-container sign-in-container">
        @using (Html.BeginForm("isResetPassword", "Auth", FormMethod.Post))
        {
            <h1 class="w-100">Forgot</h1>
            <span>use your email to receive OTP, after use this OTP to reset password </span>
            <input type="email" placeholder="Email" name="email" class="login_input first_input" />
            <input type="text" placeholder="OTP" name="otp" class="login_input" />
            <input type="password" placeholder="New password" name="newPassword" class="login_input" />
            <input type="password" placeholder="Confirm password" name="confirmPassword" class="login_input" />

            if (!string.IsNullOrEmpty(TempData["errorResetPassword"] as string))
            {
                <span class="error_login">@TempData["errorResetPassword"]</span>
            }

            <button>Reset Password</button>
        }

    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Back to login to start journey with us</p>
                <a class="back_login" id="signUp" href="/Auth/Login">SIGN UP</a>
            </div>
        </div>
    </div>
</div>
