@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/Home.cshtml";
}


<link href="~/Content/css/detail_post.css" rel="stylesheet" />
<link href="~/Content/css/tour.css" rel="stylesheet" />

@using (Html.BeginForm("isChangePassword", "User", FormMethod.Post))
{
<div class="post_detail form_detail card border-0 tour_detail">
    <h1 class="text-center fw-bold h3 mb-3 pb-3">Detail User Information</h1>

    <input type="text" name="email" value="@((Session["user"] as ManagerTour.Models.User_information).User.Email)" hidden />

    <div class="mb-3">
        <label class="form-label">Old Password</label>
        <input type="password" placeholder="Old password" name="oldPassword" class="login_input form-control  shadow-non" />
    </div>

    <div class="mb-3">
        <label class="form-label">New Password</label>
        <input type="password" placeholder="New password" name="newPassword" class="login_input form-control  shadow-non" />
    </div>

    <div class="mb-3">
        <label class="form-label">Confirm Password</label>
        <input type="password" placeholder="New password" name="confirmPassword" class="login_input form-control  shadow-non" />
    </div>

    @if (!string.IsNullOrEmpty(TempData["errorResetPassword"] as string))
    {
        <span class="error_changepass">@TempData["errorResetPassword"]</span>
    }

    @if (!string.IsNullOrEmpty(TempData["successResetPassword"] as string))
    {
        <span class="error_changepass success_changepass">@TempData["successResetPassword"]</span>
    }

    <div class="d-flex justify-content-end">
        <a href="~/User/Index" class="cancel_update btn">Cancel</a>
        <button type="submit" class="update_detail btn btn-dark">Update</button>
    </div>
</div>
}
