html, body {
	font-family: 'Poppins', sans-serif;
}

ul,li,a,p 
{
	margin-bottom: unset;
	list-style: none;
	text-decoration: none;
	padding: unset;
}

.main {
	display: grid;
	grid-template-columns: 230px 1fr;
	height: 100vh;
	transition: all 0.25s linear;
}

.main-left {
	background-color: #f6f7fb;
}

.sidebar {
	height: 100%;
	background-color: #2A3F54;
	color: #E7E7E7;
	transition: all 0.25s linear;
}

.sidebar .nav-item
{
	margin-top: 20px;
}

.sidebar .nav-item--info .avatar
{
	height: 50px;
	width: 50px;
	border-radius: 100%;
	object-fit: cover
}

.nav-info {
	border-bottom: 1px solid #e8e8e8;
}

.infor_login {
	margin-left: 10px;
}

.infor_login > h3 {
	color: #BAB8B8;
}

.infor_login > .name
{
	font-size: 14px;
}
.sidebar_item {
	cursor: grab;
}

.sidebar_item i {
	width: 25px;
}

.sidebar_item a {
	font-size: 15px !important;
	margin-left: 10px;
	width: 150px;
}

.breadcrumb .breadcrumb-item h1 {
	font-weight: bold;
	font-size: 25px;
}

.breadcrumb .breadcrumb-item .breadcrumb-item-text {
	margin-left: 15px;
	color: #9b9aba;
	font-size: 14px;
}

.breadcrumb .breadcrumb-date {
	font-size: 14px;
	color: #9b9aba;
}


.header {
	background-color: transparent;
	border-bottom: 1px solid #D9DEE4;
	height: 70px;
}

.header .sidebar_menu {
	color: #73879C ;
	font-size: 33px;
	cursor: pointer;
	margin-right: auto;
}

.header-info_name > img 
{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	object-fit: cover
}
.header-infor > label > .notify-mail {
	font-size: 18px;
	color: #5A738E;
	margin-right: 20px;
}

.header-infor > label > .notify-mail > .amount-notify {
	font-size: 9px;
	background-color: #1ABB9C;
	width: 20px;
	height: 20px;
	color: #E7E7E7;
	border-radius: 5px;
	top: -12px;
	right: -14px;
}
.header-info_name
{
	cursor: grab;
}
.header-info_name > p {
	margin: 0 10px;
	font-size: 13px;
	color: #5E6974;
	font-weight: bold;
}

.header_personally {
	width: 200px;
	height: 120px;
	right: 17px;
	top: 55px;
	z-index: 9;
	transform-origin: top right;
	transform: scale(0);
	transition: all 0.25s linear;
}

.header_personally > .navbar 
{
	align-items: unset !important;
	padding: 10px;
}
.header_personally > .navbar > .nav-item
{
	margin: 5px 0;
	cursor: grab;
}
.header_personally > .navbar > .nav-item i 
{
	width: 25px;
}

.header_personally > .navbar > .nav-item a 
{
	font-size: 14px;
}

#cbdropheader:checked ~ .header_personally
{
	transform: scale(1);
}

.forms_subsidebar, .forms_users {
	transform: scaleY(0);
	transform-origin: top;
	transition: all 0.25s linear;
	overflow-y: hidden;
}

#cb_forms:checked ~ .forms_subsidebar {
	transform: scaleY(1);
	margin-top: 15px;
}

#cb_forms:checked ~ .sidebar_item-drop_travel {
	color: #1ABB9C;
	font-weight: bold
}

.forms_subsidebar > li > div > a, .forms_users > li > div > a {
	color: rgba(255,255,255,0.75) !important;
	font-size: 13px !important;
	margin-left: 20px;
}

.forms_subsidebar > .nav-item, .forms_users > .nav-item {
	margin-top: unset !important;
	margin-bottom: 20px;
}

.forms_subsidebar > .nav-item > .sidebar_item, .forms_users > .nav-item > .sidebar_item {
	margin: 0 15px !important;
}

.forms_users
{
	height: 0px;
}

#cb_users:checked ~ .forms_users {
	transform: scaleY(1);
	height: auto;
	margin-top: 15px;
}

#cb_users:checked ~ .siderbar_item-users {
	color: #1ABB9C;
	font-weight: bold
}

.sidebar_item-left {
	position: relative
}

.nav-sub-item {
	margin-bottom: 10px !important;
}

.sidebar_item-left:before {
	background: #425668;
	bottom: auto;
	content: "";
	height: 9px;
	left: -10px;
	position: absolute;
	right: auto;
	width: 9px;
	z-index: 1;
	top: -4px;
	border-radius: 50%;
}

.sidebar_item-left:after
{
    border-left: 3px solid #425668;
    bottom: 0;
    content: "";
    height: 42px;
    left: -7px;
    position: absolute;
}

.notify {
	background-color: #ffff;
	width: 350px;
	height: 400px;
	overflow: hidden;
	border-radius: 5px;
	z-index: 99999;
	position: absolute;
	top: 55px;
	transform-origin: top right;
	transform: scale(0);
	right: 220px;
	overflow-y: visible;
	transition: all 0.25s linear;
}

.watch-notify
{
	cursor: pointer;
}

#cbdropheader--notify:checked ~ .notify {
	transform: scale(1);
}

.notify-item {
	border-bottom: 1px solid #f1f1f1;
	margin-bottom: 10px;
	padding-bottom: 5px;
	width: 100%;
	transition: all 0.25s linear;
}

.notify-item:last-child
{
	border-bottom: unset;
}
.notify-item:hover 
{
	opacity: 70%;
}
.notifies > .notify-item .notify-item--image > img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
}

.notifies > .notify-item .notify-item--content
{
	margin-left: 10px;
}

.notifies > .notify-item .notify-item--content > .notify-item--name  {
	margin-bottom: unset;
	font-size: 13px;
	color: #000;
	font-weight: 600;

}

.notifies > .notify-item .notify-item--content > h5 > .notify-item--date {
	margin-bottom: unset;
	font-size: 12px;
	color: #adb8c7;
	font-weight: 500;
	padding-left: 5px;
}

.notifies > .notify-item .notify-item--content > .notify-item--description
{
	font-size: 13px;
	color: #000;
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.notifies > .notify-item .notify-item--new {
	position: absolute;
	font-size: 13px;
	color: red;
	right: 5px;
	top: 0;
	font-weight: 600;
}

.notify-mail--empty {
	font-size: 100px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #adb8c7;
}

.sidebar-link.active 
{
	color: #1ABB9C !important;
}
