body {
}

.posts {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border-radius: 10px;
	background-color: #ffff;
	margin: 20px;
    height: 770px;
    overflow-y: auto;
}

.posts > table
{
	overflow: auto;
}
.posts table  tbody tr td
{
    font-size: 14px;
}
.posts table th 
{
    font-size: 15px !important;
}

.posts table tbody tr td .title
{
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.posts table tbody tr td .content
{
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.posts table tbody tr td .user_function .detail
{
    cursor: grab;
    margin-right: 10px;
}

.posts table tbody tr td .user_function .remove
{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: grab;
}

.posts table tbody tr td .user_function .remove >i 
{
    color: #FC2947;
}

.posts_search {
    width: 450px;
    margin: 0 auto
}
.posts_search > .search_input {
    width: 450px;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 13px;
    outline: none;
    height: 35px;
}
.posts_search > .search_input:focus {
    border-color: #000 !important;
}


.posts_search > #btn_search
{
    background: transparent;
    border: unset;
    position: absolute;
    right: 0px;
    color: #9b9aba;
    top: 50%;
    transform: translateY(-50%);
}

.posts > .pagination
{
    margin-top: auto;
}
.posts .pagination .pagination-page
{
    font-size: 14px;
    color: #415094;
    font-weight: 400;
}

.posts .pagination .pagination-item .pagination-arrow {
    background-color: transparent;
    border: unset;
    color: #415094;
}
.posts .pagination .pagination-item .pagination-left
{
    margin-right: 5px;
}

.lb_removePost {
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.notify-remove-post {
    display: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    height: 150px;
    width: 430px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffff;
    z-index: 999;
}

.notify-remove-post > h5 
{
    font-weight: bold;
    font-size: 18px;
}

.notify-remove-post .btn-notify-post
{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #000000;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    width: 90px;
}
.notify-remove-post .remove
{
    background-color: #000000 !important;
    color: #ffff;
    margin-left: 10px;
}

.cb_removePost:checked ~ .lb_removePost {
    display: block;
}

.cb_removePost:checked ~ .notify-remove-post
{
    display: block;
}

.posts .post_status--private {
    color: #65647C;
}

.posts .post_status--public {
    color: #03C988;
}
.post_status--hidden {
    color: #CD0404;
}

.posts .label_index {
    font-size: 13px;
    font-weight: bold;
}

.posts .filter_type:focus {
    border-color: #000;
}

.posts .search_input--contain {
    margin: unset
}


.filter_type {
    font-size: 13px;
}